# Python

## Rechnen

### 1.1 Die Formel zur Umrechnung von Grad °F zu °C lautet: $°C = \frac{5}{9} * (°F - 32)$. Schreiben Sie ein Program, das für jeden Wert in Fahrenheit den Wert in Celsius berechnet. Testen Sie es mit 100 °F.

In [1]:
input = 100

result = 5/9 * (input - 32)

print(result)

37.77777777777778

### 1.2 Die Formel zur Umrechnung von Grad Celsius zu Kelvin lautet: $ K = °C + 273,15$. Schreiben sie nun ein Program das beide Formeln verbindet und Fahrenheit in Kelvin umwandelt. Wie viel Kelvin sind 100 Fahrenheit?

In [2]:
kelvin = result + 273.15

In [3]:
print(kelvin)

310.92777777777775

In [4]:
kelvin

310.92777777777775

## Typenkonvertierung

### 2. Versuchen Sie die folgenden Elemente mit `int()` in Integer umzuwandeln. Denken Sie am besten erst darüber nach was passieren wird und testen dann ob Sie richtig lagen.

### 2.1

In [ ]:
print(int(2.0))

### 2.2

In [ ]:
print(int(2.3))

### 2.3

In [ ]:
print(int(2.7))

### 2.4

In [ ]:
print(int(2e10))

### 2.5

In [ ]:
print(int(2e-1))

### 2.6

In [ ]:
print(int("10"))

### 2.7

In [ ]:
print(int("10.0"))

### 2.8

In [ ]:
print(int([1]))

### 2.9

In [6]:
print(int((1)))

1

### 2.10

In [7]:
print(int((1,)))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

### 2.11

In [8]:
print(int(True))

1

### 2.12

In [9]:
print(int(False))

0

### 3. Versuchen Sie jetzt das gleiche mit den folgenden Elementen, aber konvertieren Sie sie dieses mal zu Dezimalzahlen (floats) mit `float()`.

### 3.1

In [ ]:
print(float(2))

### 3.2

In [ ]:
print(float("10"))

### 3.3

In [10]:
print(float("1.5"))

1.5

### 3.4

In [ ]:
print(float(True))
print(float(True))

## If Else Statements

### 4. Schreiben Sie ein if-else Statement das zwei Variablen `a` und `b` vergleicht die beide eine Zahl enthalten. Die größere der beiden Zahlen soll ausgegeben werden mit dem Text '{Zahl} ist größer'. Für den Fall, dass beide gleich groß sind, soll 'Beide Zahlen sind gleich groß' ausgegeben werden.

In [12]:
a = 1
b = 2

In [13]:
if a > b:
    print(f"a ist größer")
elif b > a:
    print(f"b ist größer")
else:
    print("beide sind gleich groß")

b ist größer

## Listen, Loops und `range` Funktion

### 5. Schreiben Sie eine Liste (das Python-Objekt Liste!), welche die Jahre von ihrem Geburtsjahr bis 2022 enthält.

In [17]:
lst = [*range(1993, 2023, 2)]

print(lst)

[1993, 1995, 1997, 1999, 2001, 2003, 2005, 2007, 2009, 2011, 2013, 2015, 2017, 2019, 2021]

In [16]:
print(list(range(1993, 2023)))

[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

### 6. Schreiben Sie einen for-Loop der die Zahlenpaare innerhalb der Tuples in `pair_list` miteinander multipliziert und danach ausgiebt. Versuchen Sie dabei Indexierung (Auswahl der Elemente einer Sequenz auf diese weiße: Sequenz[index]) zu vermeiden.

In [23]:
pair_list = [(1, 2), (3, 7), (9, 5)]

In [26]:
for tuple in pair_list:
    print(tuple[0], tuple[1])

1 2
3 7
9 5

## Dictionaries

### 7. Erstellen Sie ein dictionary `customers` mit den folgenden Keys: 
### `'customer_id', 'employment_status', 'age', 'location'`  
### und den folgenden entsprechenden Values:
###  `[12, 56, 2], [0, 1, 1], [22, 43, 31], ['Berlin', 'Cologne', 'Hamburg']`.

In [ ]:
'customer_id', 'employment_status', 'age', 'location'

[12, 56, 2], [0, 1, 1], [22, 43, 31], ['Berlin', 'Cologne', 'Hamburg']

In [27]:
customers = {'customer_id': [12, 56, 2], 'employment_status':[0, 1, 1], 'age': [22, 43, 31], 'location': ['Berlin', 'Cologne', 'Hamburg']}

In [31]:
empty = {}

empty["customer_id"] = [12, 56, 2]
empty['employment_status'] = [0, 1, 1]

In [33]:
empty["customer_id"] = [None, None, None]

In [34]:
empty

{'customer_id': [None, None, None], 'employment_status': [0, 1, 1]}